language: node_js
node_js:
- 4
install: npm install
script: 
- npm run build
- npm run test
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: site
  target_branch: master
  repo: mappinghub/mappinghub.github.io
