.newline{
	display:block;
}
th::after{ margin-bottom: 22px; }

.tab-content{
	border:1px solid #ddd;
	padding: 5px;
	background-color: white;
 }
.title img{display: inline-block; float: right;}
 pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.mapping{
  font-size: 8pt;
  white-space: nowrap
}
.link-small { font-variant: small-caps; margin-left: 2px; font-size: 10pt; }